RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

#RewriteRule ^/$ /index_view.php [R]
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
